
{
  "presets": [
      "razzle/babel"
  ],
  "plugins": [
    [
      "transform-runtime"
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "containers": "./src/containers",
          "components": "./src/components",
          "src": "./src",
          "public": "./public"
        }
      }
    ]
  ]
}